<header>
  <nav class="navbar navbar-default" style="background-color:#d9edf7;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://dongche.ddzhusu.com/">滴滴动车</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="http://gaotie.ddzhusu.com/">滴滴高铁</a></li>
          <li><a href="http://huoche.ddzhusu.com/">滴滴火车</a></li>
          <li><a href="http://bus.ddzhusu.com/">滴滴公交</a></li>
          <li><a href="http://map.ddzhusu.com/">滴滴地图</a></li>
          <li><a href="http://flight.ddzhusu.com/">滴滴航班</a></li>
          <li><a href="http://hotel.ddzhusu.com/">滴滴酒店</a></li>
          <li><a href="http://www.ddzhusu.com/" title="特色民宿客栈">滴滴住宿</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
