
<div class="hidden-sm">
<div class="wrapper" style="height: 188.68px;min-height:0;border-bottom:1px solid #eee;border-top:1px solid #eee;">
  <div class="recommend-section" style="margin-top:0">
<div class="fixed-banner-area" style="height: 187.68px;"><a href="http://taobao.iquan.net/index.php?r=index/9" class="fixed-banner-item fbi0" style="width:164.6px;height:187.68px;border-right:1px solid #eee;"><img src="http://omqxp8we2.bkt.clouddn.com/element/2017/07/03/725295959f35b121d5" style="opacity: 1;"></a><a href="http://taobao.iquan.net/index.php?r=p/wap&u=550416" class="fixed-banner-item fbi1" style="width:248.4px;height:92.84px;border-bottom:1px solid #eee;"><img src="http://omqxp8we2.bkt.clouddn.com/element/2017/06/15/7352159426df47f82c" style="opacity: 1;"></a><a href="http://taobao.iquan.net/index.php?r=index/r" class="fixed-banner-item fbi2" style="width:123.2px;height:93.84px;border-right:1px solid #eee;"><img src="http://omqxp8we2.bkt.clouddn.com/element/2017/07/04/37964595b326cc2b9d" style="opacity: 1;"></a><a href="https://temai.m.taobao.com/new/index.htm?pid=mm_32854514_24420321_117278220" class="fixed-banner-item fbi3" style="width:124.2px;height:93.84px;"><img src="http://omqxp8we2.bkt.clouddn.com/element/2017/06/26/285115950b3546a100" style="opacity: 1;"></a></div>

  </div>
</div>
</div>
