<div class="download">
  <div class="download-img"></div>
  <div class="download-text">
    <div class="download-title">
      打开&nbsp;携程App
    </div>
    <div class="download-desc">&nbsp;&nbsp;路线查询,火车票预订更方便！</div>
    <a class="download-button btn btn-default pull-right" href="/cps/ctrip_h5/" target="_blank">立即打开</a>
  </div>
</div>
