<footer style="border-top:1px solid #e5e5e5;text-align:center;" class="hidden-sm hidden-xs">
  <div class="container">
    <div class="row">
      <p style="margin-top:20px;">
        <a href="/station/">全国火车站</a> | <a href="/line/">旅游路线</a> | <a href="/shike/">火车时刻表</a> | <a href="/gaotie/">高铁时刻表</a>
      </p>
    </div>
    <div class="row">
      <p style="margin-top:20px;">
        版权所有 Copyright©2014-2015 huoche.cn　京ICP备11013966号 京公网安备110105005206号
      </p>
    </div>
    <div>
      <img src="http://img.huoche.com/comm/safe.png" alt="" rel="nofollow">
    </div>
  </div>
</footer>
