- title "酒店信息查询_滴滴酒店"
- keywords "酒店电话，酒店地址，酒店预订，酒店查询，酒店"
- head_desc "滴滴酒店，目前提供全国#{@hotels.size}家酒店信息查询服务，包括酒店电话、地址、设施、简介等，欢迎大家使用。"

.container
  .row
    .col-md-12.col-lg-12.col-sm-12
      %section
        %h1.page-header 酒店信息查询 地址 电话
        %p
          - @cards.each do |card|
            %a{href:"http://hotel.ddzhusu.com/card-#{URI.encode(card.card_name)}/"}= "#{card.card_name}会员卡"
          - @hotels.each do |hotel|
            %a{href:"http://hotel.ddzhusu.com/ht-#{URI.encode(hotel.hotel_name)}/"}= hotel.hotel_name
