<header>
  <nav class="navbar navbar-default" style="background-color:#d9edf7;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://ppq.vxixi.com">乒乓球</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="http://www.vxixi.com/game/list">羽毛球比赛视频</a></li>
          <li><a href="http://www.vxixi.com/guize/qiupai">羽毛球拍的选择</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
