<footer style="border-top:1px solid #e5e5e5;background-color:#f7f7f7;" class="hidden-sm hidden-xs">
  <div class="container">
    <div class="row">
      <p style="margin-top:20px;font-size:12px;text-align:center;">
        友情链接：
        <a href="https://www.uuhaodian.com" target="_blank">京东优惠券</a>
        <a href="https://www.iquan.net" target="_blank">优惠券网站</a> 
        <a href="http://www.shikuaigou.com" target="_blank">福利购</a>
        <a href="http://www.xiongmao123.com" target="_blank">装饰画</a>
        <a href="http://www.jidanguo.top" target="_blank">百香果</a>
        <a href="http://www.vxixi.com" target="_blank">羽毛球</a>
        <a href="http://www.gouwuzhinan.cn" target="_blank">购物指南</a>
        <a href="http://www.17430.com.cn" target="_blank">便宜网购商城</a>
      </p>
      <p style="text-align:center;">滴滴航班，为您提供又新又全的全国航班时刻表 - flight.ddzhusu.com</p>
    </div>
  </div>
</footer>
