%h3.page-header 微信扫一扫 购票更方便
%div{style: "widht: 100%;margin: 0 auto;text-align:center"}
  %img{src: "/flight_ctrip_ercode.jpg", style: "width: 70%;"}


%h3.page-header 乘机提醒
.alert.alert-warning
  %p 由于新冠疫情影响，各国及地区入境政策变化频繁，请您出行前一定先行查看目的地疫情管控政策。

%h3.page-header 乘飞机注意事项
.alert.alert-info
  %p 请注意到达机场的事件，通常航空公司规定航班起飞前30分钟停止办理登机手续，所以最好在起飞前1个小时到机场。
  %p 换登机牌-办理登机手续，看看自己的航班在哪个柜台办理，机场都有显示屏告诉你哪个航班在哪个柜台，找到相应柜台，将机票、身份证交给机场值机人员。如果你有大件行李，就在这里托运，经济舱20公斤以内的行李是免费的。液体超过100ML就要托运。要注意托运的行李不要夹带违禁物品，办完登机手续，值机人员会将机票的旅客联、登机牌、行李票，身份证退回给你。
  %p 到安检通道，通道口有个安检柜台，将机票的旅客联、登机牌、身份证交给安检员，安检员审核没问题会在登机牌上面盖章。然后过安检门，随身带的物品要从安检门旁的X光安检机过去，你自己要从安检门通过。然后在候机厅候机。
  %p 听到登机广播后，在登机口会有服务人员撕登机牌，到登机口将登机牌交服务人员，服务人员从登机牌撕一小块，其他部分交回给乘客，然后就持登机牌跟着别人上飞机吧。

%h3.page-header 关于特价机票与打折机票
.alert.alert-info
  %p 关注廉价的航空公司：廉价航空收取的费用仅仅是机票+税+机建燃油，所以收费比较低，常见的几个廉价航空公司有：春秋、吉祥、亚航等都是比较出名的廉价航空公司。
  %p 关注各大航空公司的会员日：每个航空公司都有他的会员日，会员日当天折扣力度是最大的。例如南航每月28号，东航每月18号，在这些会员日买机票，优惠和折扣都是最多的，想低价出行的旅客可以在当天进行购票。会员日抢票活动一般都是当天0点开始，但如果没有抢到票，也不要着急，可以多时段查看，有时还会有部分人抢了票但未付款，也可以捡到遗漏。除了会员日，机票价格也是实时变动的，想要购买到便宜的机票，还是要随时关注航班信息，巧选航班时段。
  %p 通常离出发日期时间较长，容易买到便宜机票。想要买到实惠的机票，就得注意购票时间，一般来说，如果要买国际长线的话，最好提前4-8周，买国内中程线的话最好提前2-4周。
