<div class="hidden-sm hidden-xs" style="background-image:url(http://img.ddzhusu.com/www_background_1.jpg);height:330px;margin-top:-20px">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ins class="bookingaff" data-aid="896190" data-target_aid="895877" data-prod="nsb" data-width="500" data-height="330">
          <!-- Anything inside will go away once widget is loaded. -->
          <a href="//www.booking.com?aid=895877">Booking.com</a>
        </ins>
        <script type="text/javascript">
          (function(d, sc, u) {
            var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
                                  s.type = 'text/javascript';
                                        s.async = true;
                                              s.src = u + '?v=' + (+new Date());
                                                    p.parentNode.insertBefore(s,p);
          })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
        </script>
      </div>
    </div>
  </div>
</div>
