<section style="border-top:1px solid #e5e5e5;" class="container">
  <div class="row">
    <div id="SOHUCS">
    </div>
    <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
    <script type="text/javascript">
      window.changyan.api.config({
        appid: 'cyrYRLRBC',
        conf: 'prod_fb05450aff31d6891e75a596714686ed'
      });
      setTimeout(function(){$('#adv').parents('div').addClass('hidden');},3000);
    </script> 
  </div>
</section>

