<footer style="border-top:1px solid #e5e5e5;text-align:center;" class="hidden-sm hidden-xs">
  <div class="container">
    <div class="row">
      <p style="margin-top:20px;">
      <a href="http://www.vxixi.com/">羽毛球比赛规则</a> | <a href="http://www.huoche.cn/">火车网</a> | <a href="http://www.ddzhusu.com/fish/">站点地图</a> | <a href="http://www.gouwuzhinan.cn">购物指南</a> | <a href="http://www.tengyuntaoke.com">淘客助手</a> | <a href="http://www.iquan.net">找券网</a> | <a href="http://www.shikuaigou.com">天天特价</a> | <a href="http://www.xiongmao123.com">熊猫优选</a> | <a href="http://www.zhequan.cc">折券网</a> | <a href="http://www.ichaopai.cc">爱潮牌</a>
      </p>
    </div>
  </div>
</footer>
