<section style="border-top:1px solid #e5e5e5;" class="container">
  <div class="row">
    <div id="SOHUCS"></div>
    <script id="changyan_mobile_js" charset="utf-8" type="text/javascript" 
      src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=cyrzqjSXz&conf=prod_e4ca2c03a11d42ca2c50919f3fc68991">
    </script>
  </div>
</section>

