<div class="hidden-sm hidden-xs">
  <script type="text/javascript">
    var sogou_ad_id=527191;
    var sogou_ad_height=90;
    var sogou_ad_width=728;
  </script>
  <script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>
</div>
