%section
  .container
    .row
      .col-md-12
        %h3 相关链接
        %p
          %a.btn.btn-default{href: "http://www.iquan.net/g_yaojingdekoudai/",style: "margin-bottom:5px"} 妖精的口袋优惠券
          %a.btn.btn-default{href: "http://www.iquan.net/g_baicaowei/",style: "margin-bottom:5px"} 百草味淘宝优惠券
          %a.btn.btn-default{href: "http://www.iquan.net/g_sanzhisongshu/",style: "margin-bottom:5px"} 三只松鼠优惠券
          %a.btn.btn-default{href: "http://www.iquan.net/g_liangpinpuzi/",style: "margin-bottom:5px"} 良品铺子优惠券
          %a.btn.btn-default{href: "http://www.iquan.net/g_loulanmiyu/",style: "margin-bottom:5px"} 楼兰蜜语优惠券
          %a.btn.btn-default{href: "http://www.iquan.net/g_zhouheiya/",style: "margin-bottom:5px"} 周黑鸭优惠券
          %a.btn.btn-default{href: "http://www.iquan.net/g_qiushuiyiren/",style: "margin-bottom:5px"} 秋水伊人优惠券
          %a.btn.btn-default{href: "http://www.iquan.net/g_xiawazhixiu/",style: "margin-bottom:5px"} 夏娃之秀优惠券
          %a.btn.btn-default{href: "http://www.iquan.net/g_nuoshilan/",style: "margin-bottom:5px"} 诺诗兰优惠券
          %a.btn.btn-default{href: "http://www.iquan.net/g_balabala/",style: "margin-bottom:5px"} 巴拉巴拉优惠券

