<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="keywords" content="台湾民宿,日本民宿,民宿,住宿预订,<%=yield(:keywords)%>">
  <meta name="description" content="<%=yield(:head_desc)%> 滴滴住宿，为你提供优质便宜的民宿与住宿预订服务，世界这么大，多出去看看。">
  <meta name="baidu-site-verification" content="hmr3YzDWKi" />
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?7467d354946a31abcd45ddc78829cec3";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
     })();
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
