<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>1024yy网_1024歪歪网</title>
    <meta name="keywords" content="1024歪歪网，1024yy网">
    <meta name="description" content="1024yy网，最新电影、影评、视频信息。">
    <!-- 禁止转码 -->
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- 声明适用设备-->
    <meta name="applicable-device" content="pc,mobile">
    <meta name="baidu-site-verification" content="lt7T4FeEa5" />
    <meta name="360-site-verification" content="603cb9b280086f0a21b21d4f56e7dcca" />
    <meta name="sogou_site_verification" content="Hd8Uo7oPAJ"/>
    <meta name="shenma-site-verification" content="39926c446e75d43ad63ea5a872cd1e07_1443630171"/>
    <meta name="google-site-verification" content="4C4UcLkGJsjk1xXAvuYVfmAscT2qUAFw2h1hjX-glS8" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style type="text/css">
      h1{
        font-size: 20px;
      }
      h2{
        font-size:18px;
      }
      h3{
        font-size:16px;
        margin-top:10px;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" style="background-color:#d9edf7;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.1024yy.wang/">1024歪歪网</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="container">
      <div class="row">
        <article class="col-md-8 col-lg-8 col-sm-12">
          <h1>1024歪歪网</h1>
          <p>
            《捉妖记》是由蓝色星空影业有限公司、安乐影片有限公司、北京数字印象文化传播有限公司等联合出品的奇幻电影[1]  ，该片由许诚毅执导，白百何、井柏然、曾志伟、吴君如、姜武、钟汉良等主演。影片于2015年7月16日以IMAX 3D格式在中国内地公映。[2-3] 
            影片主要讲述了小伙子天荫阴差阳错地怀上了即将降世的小妖王，他被降妖天师小岚一路保护着躲过各种妖怪。虽然二人渐渐对小妖产生了感情，小岚却明白她只为把这只惹人眼红的小妖卖个好价钱，在人妖混杂的世界里，他们的命运无疑将牵动人心。[4] 
            截止2015年9月11日17点，上映58天的《捉妖记》票房达24.28亿元，观影人数为6542万人，打破上映30天《速度与激情7》创下的内地影史票房纪录以及内地观影人次纪录。[5-6] 
          </p>
          <p>
            宋天荫（井柏然饰）意外怀孕生下萌妖胡巴后，为保护“儿子”，与
            《捉妖记》海报
            《捉妖记》海报 (9张)
             天师霍小岚（白百何饰）一起对抗妖界的故事。很久以前，人与万物共存，当中也包括妖。但人想独占天下，于是人向妖宣战，把他们赶进了深山大泽，从此人和妖划界而治。一天，一对装人样的情侣妖竹高（曾志伟饰）和胖莹（吴君如饰），为了保护怀有小妖王的妖后逃避血妖的追杀，来到了永宁村，遇上了善良的天荫、降妖少女二钱天师小岚以及跟小岚对着干的四钱天师罗钢（姜武饰）。
             天荫目睹人妖大战，才惊觉有妖的存在。妖后为了保住小妖王，决定将其托付给天荫，二话不说把肚里的蛋塞到天荫的嘴里，男子汉大丈夫的天荫从此就怀着妖胎成为“孕夫”。葛千户（钟汉良饰）重金悬赏小妖王。小岚为了得到赏金，硬拉着从没有离开过永宁村的天荫，躲避罗干的争夺，离开永宁村展开了一段奇幻的旅程，途中遭遇大押店老板娘（汤唯饰）、厨子天师（姚晨饰）、一对萌妖（张悦轩和田雨橙饰）等各路人物。可爱的小妖王胡巴出生，令天荫和小岚的关系起了奇妙的变化，同时也揭穿了一个重大的秘密。
          </p>
        </article>
      </div>
    </section>
    <footer style="border-top:1px solid #e5e5e5;text-align:center;" class="hidden-sm hidden-xs">
      <div class="container">
        <div class="row">
          <p style="margin-top:20px;">
            <a href="http://www.vxixi.com/">羽毛球比赛规则</a> | <a href="http://www.huoche.cn/">火车票查询</a> | <a href="http://gcw.vxixi.com">广场舞小苹果</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
