<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>国足奋起_2026世界杯</title>
    <meta name="keywords" content="2026世界杯，世界杯，国足奋起">
    <meta name="description" content="国足冲击2026年世界杯，美好的祝愿从今天开始。">
    <!-- 禁止转码 -->
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- 声明适用设备-->
    <meta name="applicable-device" content="pc,mobile">
    <meta name="baidu-site-verification" content="jS9p0V3cQ7" />
    <meta name="360-site-verification" content="35216e07d7bcbacd40516b7240b134b3" />
    <meta name="sogou_site_verification" content="qA6EjloL8N"/>
    <meta name="shenma-site-verification" content="99b17614816f01261e5d136c0c9b9999_1443630122"/>
    <meta name="google-site-verification" content="NZpUVDHRuhmRR-lvvfT2irQcXyiek5a96eh_swmVjdk" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style type="text/css">
      h1{
        font-size: 20px;
      }
      h2{
        font-size:18px;
      }
      h3{
        font-size:16px;
        margin-top:10px;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" style="background-color:#d9edf7;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.1024yy.wang/">2026世界杯</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="container">
      <div class="row">
        <article class="col-md-8 col-lg-8 col-sm-12">
          <h1>国足冲击2026世界杯决赛圈</h1>
          <p>
            2018世界杯亚洲区预选赛40强分组
            A组
            B组
            C组
            D组
            E组
            F组
            G组
            H组
            阿联酋
            澳大利亚
            中国
            伊朗
            日本
            伊拉克
            韩国
            乌兹别克
            沙特
            约旦
            卡塔尔
            阿曼
            叙利亚
            越南
            科威特
            巴林
            巴勒斯坦
            塔吉克斯坦
            马尔代夫
            印度
            阿富汗
            泰国
            黎巴嫩
            菲律宾
            东帝汶
            吉尔吉斯斯坦
            不丹
            土库曼斯坦
            新加坡
            印尼
            缅甸
            朝鲜
            马来西亚
            孟加拉国
            中国香港
            关岛
            柬埔寨
            中国台北
            老挝
            也门
          </p>
          <p>
            　2018世界杯亚洲区预选赛国足赛程
            日期轮次北京时间对阵城市
            2015年6月11日第一轮   è         ®空 
            2015年6月16日第二轮20:00不丹0:6中国不丹
            2015年9         月3日第三轮19:35中国0:0中国香港深圳
            2015年9月8日ç       ¬四轮19:35马尔代夫0:3中国沈阳
            2015年10月8日第五轮2          3:30卡塔尔VS中国卡塔尔
            2015年10月13日第六轮  轮空          
            2015年11月12日第七轮19:35中国VS不丹长沙
            2015年11月17        日第八轮20:00中国香港VS中国中国香港
            2016年3月24日         第九轮19:35中国VS马尔代夫武汉
            2016年3月29日第十轮         19:35中国VS卡塔尔西安   
          </p>
          <p>
            北京时间6月16日20点，中国男足在不丹廷布体育场迎来2018年世界杯预选赛亚洲区40强赛的首场比赛，对手是不丹队。最终，国足6:0大胜不丹，取得世预赛首场胜利
          </p>
          <p>
            北京时间6月16日20时，2018俄罗斯世界杯亚洲区40强赛C组次轮，国足客场6-0大胜不丹。半场补时阶段杨旭破门，第53分钟武磊破门，第60分钟杨旭锁定胜局，第66分钟于大宝破门，第75分钟杨旭完成帽子戏法，第82分钟于大宝梅开二度，国足取得世预赛的开门红，不丹则两战全败1球未进狂丢13球。
            　　两队的世界排名来看，国足位列第79位，亚洲第7;不丹队则仅排在第159位，亚洲第29位，国足的实力明显在对手之上。首轮的比赛里，国足轮空并未出战，不丹则以0-7的比分客场惨败给中国香港队。这场比赛里，国足顺利取胜没有任何的悬念，究竟能够表现出什么样的精神面貌，方是人们更为关心的话题。
          </p>
        </article>
      </div>
    </section>
    <footer style="border-top:1px solid #e5e5e5;text-align:center;" class="hidden-sm hidden-xs">
      <div class="container">
        <div class="row">
          <p style="margin-top:20px;">
            <a href="http://www.vxixi.com/">羽毛球比赛规则</a> | <a href="http://www.huoche.cn/">火车票查询</a> | <a href="http://gcw.vxixi.com">广场舞小苹果</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
